@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

$main-cl: white;
$accent-cl: rgb(61, 111, 219);
$pokemon-red: #f21b1b;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Goldman", sans-serif;
  overflow-x: hidden;
  position: relative;
  font-size: .8rem;
  max-width: 540px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  position: relative;
  background-color: $pokemon-red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 15px solid black;

  form {
     position: relative;
     margin: 2rem 0;
    width: 400px;
    height: auto;

    input {
      position: relative;
      font-family: inherit;
      padding: 1rem;
      width: 400px;
      border: none;
      border-bottom: 3px solid black;
      transition: all 150ms linear;
  
      &:focus {
        outline: 5px solid $main-cl;
      }
    }
  
    button {
      all: unset;
      position: absolute;
      right: 0;
      padding: 1rem;
      background-color: #1c1c1c;
      color: $main-cl;
      transition: all 150ms ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: #2d2d2d;;
      }
    }

  }

}

#character-output {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.character-sprite-wrapper {
  width: 100%;
  min-height: 130px;
  height: 130px;
  border-bottom: 5px solid rgba(156, 156, 156, 0.272);
  animation: borderEffect 2s linear infinite;

  @keyframes borderEffect {
    0% {
       border-bottom: 5px solid rgba(156, 156, 156, 0.272);
    }
    50% {
       border-bottom: 5px solid rgba(19, 19, 19, 0.272);
    }
    100% {
       border-bottom: 5px solid rgba(156, 156, 156, 0.272);
    }
  }

  .character-sprite {
    border-bottom: 5px solid #000000d8;
    background-color: $main-cl;
    width: 120px;
    min-height: 120px;
    margin: 1.5rem 0 -20px;
    z-index: 100;
    animation: characterInputEffect 150ms linear;

     @keyframes characterInputEffect {
    0% {
       opacity: 0;
       transform: translateY(-10%);
    }
    100% {
       opacity: 1;
       transform: translateY(0%);
    }
  }
  }
}

.character-info-wrapper {
  width: 95%;
  padding-top: 1rem;
  text-align: left;

  .character-name {
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .attack-and-defense {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: $main-cl;
  }

  .character-primary-info,
  .character-primary-abilities {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: $main-cl;
  }

  .character-secondary-abilities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .stat-span {
      outline: 1px solid $main-cl;
      background: $accent-cl;
      width: 100%;
      color: $main-cl;
      padding: 8px;
    }

    .abilities {
      text-align: center;
    }
}

.pokemon-logo-wrapper {
  z-index: 1000;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  padding-top: 2rem;

  img {
    width: 100%;
    height: auto;
  }
}
