@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Goldman", sans-serif;
  overflow-x: hidden;
  position: relative;
  font-size: 0.8rem;
  max-width: 600px;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-outer-wrapper {
  position: relative;
  background-color: #f21b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 15px solid black;
}

.input-outer-wrapper .input-inner-wrapper {
  position: relative;
  margin: 2rem 0;
  width: 400px;
  height: auto;
}

.input-outer-wrapper .input-inner-wrapper .input-wrapper {
  position: relative;
}

.input-outer-wrapper .input-inner-wrapper .input-wrapper input {
  position: relative;
  font-family: inherit;
  padding: 1rem;
  width: 400px;
  border: none;
  border-bottom: 3px solid black;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.input-outer-wrapper .input-inner-wrapper .input-wrapper input:focus {
  outline: 5px solid white;
}

.input-outer-wrapper .input-inner-wrapper .input-wrapper button {
  all: unset;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #1c1c1c;
  color: white;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  z-index: 100;
}

.input-outer-wrapper .input-inner-wrapper .input-wrapper button:hover {
  cursor: pointer;
  background-color: #2d2d2d;
}

.input-outer-wrapper .input-inner-wrapper .error-message-span {
  visibility: hidden;
  opacity: 0;
  color: #f21b1b;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: -5px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.input-outer-wrapper .input-inner-wrapper .error-message-span.error-message-span-effect {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.input-outer-wrapper .error-state {
  -webkit-animation: errorStateEffect 1.5s linear infinite;
          animation: errorStateEffect 1.5s linear infinite;
}

@-webkit-keyframes errorStateEffect {
  0% {
    outline: 5px solid white;
  }
  50% {
    outline: 5px solid red;
  }
  100% {
    outline: 5px solid white;
  }
}

@keyframes errorStateEffect {
  0% {
    outline: 5px solid white;
  }
  50% {
    outline: 5px solid red;
  }
  100% {
    outline: 5px solid white;
  }
}

#character-output {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.character-sprite-wrapper {
  width: 100%;
  min-height: 130px;
  height: 130px;
  border-bottom: 5px solid rgba(156, 156, 156, 0.272);
  -webkit-animation: borderEffect 2s linear infinite;
          animation: borderEffect 2s linear infinite;
}

@-webkit-keyframes borderEffect {
  0% {
    border-bottom: 5px solid rgba(156, 156, 156, 0.272);
  }
  50% {
    border-bottom: 5px solid rgba(19, 19, 19, 0.272);
  }
  100% {
    border-bottom: 5px solid rgba(156, 156, 156, 0.272);
  }
}

@keyframes borderEffect {
  0% {
    border-bottom: 5px solid rgba(156, 156, 156, 0.272);
  }
  50% {
    border-bottom: 5px solid rgba(19, 19, 19, 0.272);
  }
  100% {
    border-bottom: 5px solid rgba(156, 156, 156, 0.272);
  }
}

.character-sprite-wrapper .character-sprite {
  border-bottom: 5px solid #000000d8;
  background-color: white;
  width: 120px;
  min-height: 120px;
  margin: 1.5rem 0 -20px;
  z-index: 100;
  -webkit-animation: characterInputEffect 150ms linear;
          animation: characterInputEffect 150ms linear;
}

@-webkit-keyframes characterInputEffect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes characterInputEffect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.character-info-wrapper {
  width: 98%;
  padding-top: 1rem;
  text-align: left;
}

.character-info-wrapper .character-name {
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 0;
}

.character-info-wrapper .character-info-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 100%;
  border: 2px solid rgba(192, 192, 192, 0.167);
  padding: 8px;
}

.character-info-wrapper .character-info-inner-wrapper .attack-and-defense {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
}

.character-info-wrapper .character-info-inner-wrapper .character-primary-info,
.character-info-wrapper .character-info-inner-wrapper .character-primary-abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  color: white;
}

.character-info-wrapper .character-info-inner-wrapper .character-secondary-abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.character-info-wrapper .character-info-inner-wrapper .abilities-wrapper {
  width: 100%;
  text-align: center;
}

.character-info-wrapper .character-info-inner-wrapper .stat-span,
.character-info-wrapper .character-info-inner-wrapper .abilities,
.character-info-wrapper .character-info-inner-wrapper .abilities-span {
  outline: 1px solid white;
  background: #3d6fdb;
  width: 100%;
  color: white;
}

.character-info-wrapper .character-info-inner-wrapper .abilities-span,
.character-info-wrapper .character-info-inner-wrapper .stat-span {
  padding: 8px;
}

.character-info-wrapper .character-info-inner-wrapper .abilities {
  background-color: #527ede;
  margin: 1px 0 0;
  padding: 6px 0;
}

.character-info-wrapper .character-info-inner-wrapper .abilities-span {
  display: block;
  font-weight: 500;
  background: #3d6fdb;
  outline: none;
}

.pokemon-logo-wrapper {
  z-index: 1000;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  padding-top: 2rem;
}

.pokemon-logo-wrapper img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=styles.css.map */